/*las imagenes de las columnas estan el el z-index: 0*/
#logo_superpuesto {
    display: flex;
    justify-content: center;
    /*horizontal */
    align-items: center;
    /*vertical*/
    z-index: 1;
    position: absolute;
}

#logo_superpuesto>img {
    width: 65%;
    height: 40%;
}

#sidebar {
    z-index: 2;
    position: fixed;
    width: 40vh;
    height: 100%;
    background-color: #151719;
    left: -40vh;
    transition: all 150ms linear;
}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    padding: 15px 10px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'ACaslonPro-SemiBold';

}

#sidebar.active {
    left: 0 !important;
}



@font-face {
    font-family: 'ACaslonPro-Bold';
    src: url('./fonts/ACaslonPro-Bold.otf');
}

@font-face {
    font-family: 'ACaslonPro-SemiBold';
    src: url('./fonts/ACaslonPro-Semibold.otf');
}

@font-face {
    font-family: 'ACaslonPro-Regular';
    src: url('./fonts/ACaslonPro-Regular.otf');
}

@font-face {
    font-family: 'ACaslonPro-Italic';
    src: url('./fonts/ACaslonPro-Italic.otf');
}

@font-face {
    font-family: 'ACaslonPro-SemiBoldItalic';
    src: url('./fonts/ACaslonPro-SemiboldItalic.otf');
}

@font-face {
    font-family: 'ACaslonPro-BoldItalic';
    src: url('./fonts/ACaslonPro-BoldItalic.otf');
}

@font-face {
    font-family: 'MyriadPro-SemiBold';
    src: url('fonts/MYRIADPRO-SEMIBOLD.OTF');
}

@font-face {
    font-family: 'Anisette-SemibBold';
    src: url('fonts/Anisette-Medium.otf');
}


.btn_estilo {
    align-self: center ;
    /*alinear elementos dentro de un d-flex*/
    text-align: center !important;
    letter-spacing: 2px;
    color: white !important;
    background-color: #919082 !important;
    border-color: #919082 !important;
    z-index: -1 !important;
    font-size: large ;
    font-family: 'MyriadPro-SemiBold' !important;
}

.input_estilo {
    width: 100%;
    border-radius: 1rem;
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.49);
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.label_estilo {
    font-family: 'ACaslonPro-SemiBold';
    color: #000
}

.label_checkbox {
    font-family: 'ACaslonPro-SemiBoldItalic';
    color: #919082;
    
}

.contactanos_header_estilo {
    font-family: 'ACaslonPro-SemiBold';
    color: #000;
}

.linea {
    height: 5rem;
    width: 0.05rem;
    background-color: #c0c0bd;
}
/* .linea_1 {
    height: 3rem;
    width: 0.05rem;
    background-color: #c0c0bd;
} */

.semiboldi_menu {
    font-family: 'ACaslonPro-SemiBoldItalic';
    color: white;
    text-align: end;
    font-size: x-large;
}

.rotar_etiqueta {
    font-family: ('ACaslonPro-Regular');
    color: white;
    z-index: 1;
    transform: rotate(-90deg);
    font-size: x-large;
    letter-spacing: 3px;

}
.alinear_etiqueta {
    font-family: ('ACaslonPro-Regular');
    color: white;
    z-index: 1;
    transform: rotate(0deg);
    font-size: x-large;
    letter-spacing: 3px;

}

#columna_1 {
    background-image: url("images/pexels-alena-darmel-7641842.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* height: 100vh; */
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: none; */
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_1:hover #etiqueta_inicio {
    z-index: -1;
}

#columna_1:hover #btn_conocenos {
    z-index: 1 !important;
}

#columna_1:hover #btn_prestamo {
    z-index: 1 !important;
}

#btn_conocenos {
    width: auto;
    height: auto;
}

#btn_prestamo {
    width: auto;
    height: auto;
}

#btn_prestamo p {
    font-size: large;
    line-height: 25px !important;
}

#detalle_contenido {
    z-index: -1;
}

#detalle_contenido_1 {
    z-index: -1;
}

#columna_1:hover #detalle_contenido {
    z-index: 1 !important;
}

#columna_1:hover #detalle_contenido_1 {
    z-index: 1 !important;
}

#columna_2 {
    background-image: url("images/kitchen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_2:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_2:hover #etiqueta_nosotros {
    z-index: -1;
}

#columna_2:hover #btn_acercaDe {
    z-index: 1 !important;
}

#btn_acercaDe {
    width: auto;
    height: auto;
}

#detalle_contenido_2 {
    z-index: -1;
}

#columna_2:hover #detalle_contenido_2 {
    z-index: 1 !important;
}

#columna_3 {
    background-image: url("images/pexels-tyler-tornberg-1587274.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_3:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_3:hover #etiqueta_tramite {
    z-index: -1;
}

#columna_3:hover #btn_procesos {
    z-index: 1 !important;
}

#btn_procesos {
    width: 25vh;
    height: auto;
}

#detalle_contenido_3 {
    z-index: -1;
}

#columna_3:hover #detalle_contenido_3 {
    z-index: 1 !important;
}

#columna_4 {
    background-image: url("images/pexels-fauxels-3184465.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 55%, center;
}

#columna_4:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_4:hover #etiqueta_servicios {
    z-index: -1;
}

#columna_4:hover #btn_servicios {
    z-index: 1 !important;
}

#btn_servicios {
    width: auto;
    height: auto;
}

#detalle_contenido_4 {
    z-index: -1;
}

#columna_4:hover #detalle_contenido_4 {
    z-index: 1 !important;
}

.sin_decoracion{
    text-decoration: none;
}

/* parrafos en general */
p {
    text-align: center;
    font-family: 'ACaslonPro-Regular';
    font-size: large;
    color: white;
}

#columna_contacto>P {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Regular';
    font-size: x-large;
    color: white;
    cursor: pointer;
}

#columna_solicita>P {
    text-align: left;
    letter-spacing: 3px;
    font-size: large;
    font-family: 'ACaslonPro-Regular';
    cursor: pointer;

}

h3 p {
    font-family: 'ACaslonPro-Bold';
}

.carousel-item {
    height: 220px;
}

.carousel-item h3 {
    text-align: center;
    font-family: 'Anisette-SemibBold';
    letter-spacing: 1px;
    font-size: x-large;
    color: #919082;
}

.carousel-item p {
    text-align: center;
    font-family: 'ACaslonPro-Semibold';
    font-size: x-large;
    color: black;
    line-height: 30px;
}

#aviso{
    cursor: pointer;
}
#guiones::before {
    content: "───── ";
    font-size: medium;
    letter-spacing: 0px;
}



/* pagina conocenos/servicios */

.seccion {
    font-family: 'ACaslonPro-SemiBoldItalic';
    font-size: x-large;
    color: #919082;
    align-self: end;
    letter-spacing: 2px;
}

.semiboldi {
    font-size: x-large;
    font-family: 'ACaslonPro-SemiBoldItalic';
    color: black;
}

#kuchati::before {
    content: "KÜCHATI";
    font-size: x-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
    color: black
}

.bold {
    font-size: x-large;
    font-family: 'ACaslonPro-bold';
    color: black;
}

.regular {
    font-size: large;
    font-family: 'ACaslonPro-SemiBold';
    color: black;
    text-align: left;
}

#mexicanas::after {
    content: '';
    font-size: x-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 300px;
    height: 100px;
    border-color: red !important;
    border: 10px !important;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    z-index: 5;
}

.numero::after {
    content: '25';
    font-size: x-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
}

.socio {
    background-color: #919082;
}

.socio:hover{

    background-image: url('icons/conocenos/socios_edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;

}

.linea_1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.linea_2:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.linea_3:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.linea_4:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.linea_5:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.linea_6:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

/* .img_socio{
    z-index:-1;
    background-image: url('icons/conocenos/socios.png');
}
 */

/* .eclipse{
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
    transform: rotate(-15deg);
}

/* pagina inicio */
#linea_prestamo {
    background-image: url("icons/prestamo/prestamo.png");
 /*    width: auto; */
    object-fit: cover ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
/*     background-position: 100%, 100%; */
    height: 100px;
}

#contenedor_1 {
    width: 80%;
    /* height: 70vh; */
    background-color: white;
    transform: translate(12%, 30%);
}

.bold_i {
    font-size: x-large;
    align-self: flex-start;
    font-family: 'ACaslonPro-BoldItalic';
}

/* .box_shadow{
    box-shadow: 5px 10px 18px -15px;
} */
#linea_comenzar {
    background-color: #919082;
    width: auto;
    height: 100vh;
}

/* Arrendamiento */
.elemento_gris {
    background-color: #919082;
    -webkit-box-shadow: inset 9px 10px 24px 6px rgba(0, 0, 0, 0.30);
    box-shadow: inset 9px 10px 24px 6px rgba(0, 0, 0, 0.30);
    color: white;
}
.elemento_blanco {
    background-color: white;
    -webkit-box-shadow: inset 9px 10px 24px 6px rgba(0, 0, 0, 0.30);
    box-shadow: inset 9px 10px 24px 6px rgba(0, 0, 0, 0.30);
    color: white;
}


/* pagina nosotros */
#linea_valores{
    background-image: url('icons/nosotros/valores.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
}

/* pagina arrendamiento */
.linea_1_a:hover {
    background-color: #fff;
    color: #919082 !important;
    border-left-color: black;
    border-left-style: solid;
}
.linea_1_b:hover {
    background-color: #fff;
    color: #919082 !important;
    border-left-color: black;
    border-left-style: solid;
}
.linea_1_c:hover {
    background-color: #fff;
    color: #919082 !important;
    border-left-color: black;
    border-left-style: solid;
}
.linea_1_d:hover {
    background-color: #fff;
    color: #919082 !important;
    border-left-color: black;
    border-left-style: solid;
}
.linea_1_e:hover {
    background-color: #fff;
    color: #919082 !important;
    border-left-color: black;
    border-left-style: solid;
}
.seccion_a{
    font-family: 'ACaslonPro-SemiBoldItalic';
    font-size: x-large;
    letter-spacing: 2px;
}
.linea_1_a1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_1_b1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_1_c1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_1_d1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_1_e1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #919082;
    border-left-color: gray;
    border-left-style: solid;
}

.box_1{
    background-image: url('icons/arrendamiento/arrendamiento_puro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#parrafo_1{
    z-index:-1;
}
.box_1:hover{
    background: none;
}
.box_1:hover #parrafo_1{
    z-index: 1;
}

.box_2{
    background-image: url('icons/arrendamiento/arrendamiento_financiero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#parrafo_2{
    z-index: -1;
}
.box_2:hover{
    background: none;
}
.box_2:hover #parrafo_2{
    z-index: 1;
}

.box_3{
    background-image: url('icons/arrendamiento/sale_y_leaseback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#parrafo_3{
    z-index: -1;
}
.box_3:hover{
    background: none;
}
.box_3:hover #parrafo_3{
    z-index: 1;
}

.box_4{
    background-image: url('icons/arrendamiento/cocina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#parrafo_4{
    z-index: -1;
}
.box_4:hover{
    background: none;
}
.box_4:hover #parrafo_4{
    z-index: 1;
}

/* pagina contactanos */
/* #barra_progreso{
    background-color: #919082 !important;
}
progress{
    background: #919082 !important;
    border-radius: 9px;
} */
    /* If the screen size is 601px wide or less, set the font-size of <div> to 80px */
    @media screen and (max-width: 576px) {
        #btn_conocenos{
            font-size: medium !important;
        }
        #btn_prestamo p {
          font-size: medium !important;
        }
        #btn_acercaDe{
            font-size: medium !important;
        }
        #btn_procesos{
            font-size: medium !important;
        }
        #btn_servicios{
            font-size: medium !important;
        }
        #detalle_contenido_4 a{
            font-size:medium !important;
        }
        #columna_contacto p{
            font-size: small !important ;
            letter-spacing: 1px !important;
        }
        #columna_solicita p{
            font-size: smaller !important;
            letter-spacing: 1px !important;
        }
        #carrousel h3{
            font-size: small !important;
        }
        #carrousel p{
            font-size: small !important;
            line-height: 15px;
            
        }
        .carousel-item {
            height: 150px !important;
        }
        #aviso{
            font-size: medium !important;
        }
        #cont_001{
            width: 70% !important;
            height: 100% !important;
        }
        #cont_1 p{
            font-size: small !important;
        }
        #cont_2 img{
                transform: translateY(-30%);
                height: auto !important;
                width: 70% !important;
        }
        /* ajustes pagina inicio */
        #img_01{
            height: 70% !important;
        }
        #cont_01 img {
            width: 50% !important;
            height: 60% !important;
        }
        #img_02{
            height: 35% !important;
        }
    
        #img_03{
            height: 50% !important;
        }
        .clase_seccion{
            font-size: large !important;
        }
        .clase_subtitulo{
            font-size: large !important;
        }
        .clase_texto{
            font-size: medium !important;
        }
        .clase_sub{
            font-size: 12px !important;
        }
        .clase_14{
            font-size: 14px !important;
        }
        .clase_10{
            font-size: 10px !important;
        }
        .clase_5{
            font-size: 5px !important;
        }
        #clase_texto_2{
            font-size: 12px !important;
        }
        #img_mexicana{
            /* height: 40% !important; */
            height: 40% !important;
            width: 30% !important;
            transform: translate(25%,-25%) !important; 
        }
        #img_servicio{
            width: 100% !important;
            height: 100% !important;
        }
        #cont_socios{
            height: 40vh !important;
        }
        #linea_prestamo {
            height: auto !important;
        }
        #contenedor_1{
            transform: translate(15%,0%) !important;
        }
        #contenedor_1 img{
            width: 7vh !important;
            height: 7vh !important;
        }
        #caja{
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
        }
        #img_next_level{
            width: 100% !important;
           /*  height: 100% !important; */
        }
        #img_next_level_1{
            width: 100% !important;
        }

        #linea_comenzar {
            height: 70vh !important;
        }
        #listo{
           font-size: 50px !important;
        }
        #empezar{
            font-size: 50px !important;
        }
        #signo{
            font-size: 50px !important;
        }
        #aqui{
            width: 40% !important;
            height: 50% !important;
            transform: translate(5%,0%) !important; 
        }
        #logo_listo{
            width: 50% !important;
            height: auto !important;
        }
        #bar{
            height: 75% !important;
        }
        #btn_logo{
            width: 80% !important;
        }
        /* pagina nosotros */
        #img_nosotoros{
            height: 100% !important;
            width: 90% !important;
            transform: translate(0%,0%) !important;
        }
        #linea_valores{
            height: 100% !important;
        }
        #caja_valores{
            height: 100% !important;
        }
        
      /*   #caja_valores div{
            width: 70% !important;
            height: 50% !important;
        } */
        #valor_1{
            width: 50% !important;
        }
        #valor_2{
            width: 50% !important;
        }
        #valor_3{
            width: 80% !important;
           
        } 
        .ajuste_caja{
            width: 70% !important;
            height: 50% !important;
        }
        #img_drew{
            width: 40% !important;
        }
        #img_drew_firma{
            width: 90% !important;
        }
        #img_drew_circulo{
            margin-left: 0% !important;
        }
        #img_don_artemio{
            width: 70% !important;
        }
        #artemio_firma{
            width: 70% !important;
        }
        #img_artemio_circulo{
            height: 200% !important;
            width: 80% !important;
            border-radius: 50% !important;
            margin-right: 0% !important;
        }

        /* pagina proceso */
        .label_estilo{
            font-size: large !important;
        }
        #img_programar_reunion{
            transform: translate(-20%,-25%) !important;
        }
        /* #body_servicio{
            width: 50vh !important;
        } */
       /*  .contenedor_caja{
            height: 25rem !important;
        } */
        .box_1{
            height: 60% !important;
          /*   width: 50% !important;   */ 
        }
        .box_2{
            height: 60% !important;
            /* width: 50% !important; */
        }
        .box_3{
            height: 60% !important;
            /* width: 50% !important; */
        }
        .box_4{
            height: 25vh !important;
            width: 100% !important;
        }
        /* pagina contactanos */
        #img_contacto{
            width: 100% !important;
        }
        #btn_enviar{
            width: 30% !important;
            font-size: large !important;
        }
        /* pagina arendamiento */
        .w40{
            width: 40vh !important;
        }


    }
