/*las imagenes de las columnas estan el el z-index: 0*/
#logo_superpuesto {
    display: flex;
    justify-content: center;
    /*horizontal */
    align-items: center;
    /*vertical*/
    z-index: 1;
    position: fixed;
}

#logo_superpuesto>img {
    width: 65%;
    height: 40%;
}

/* logo barra de navegacion*/
img {
    height: 25%;
    width: 50%;
}

@font-face {
    font-family: 'ACaslonPro-Bold';
    src: url('./fonts/ACaslonPro-Bold.otf');
}

@font-face {
    font-family: 'ACaslonPro-SemiBold';
    src: url('./fonts/ACaslonPro-Semibold.otf');
}

@font-face {
    font-family: ACaslonPro-Regular;
    src: url('./fonts/ACaslonPro-Regular.otf');
}

@font-face {
    font-family: 'ACaslonPro-Italic';
    src: url('./fonts/ACaslonPro-Italic.otf');
}

@font-face {
    font-family: 'ACaslonPro-SemiBoldItalic';
    src: url('./fonts/ACaslonPro-SemiboldItalic.otf');
}

@font-face {
    font-family: 'ACaslonPro-BoldItalic';
    src: url('./fonts/ACaslonPro-BoldItalic.otf');
}


.btn_estilo {
    align-self: center !important;
    /*alinear elementos dentro de un d-flex*/
    text-align: center !important;
    letter-spacing: 2px;
    color: white !important;
    background-color: #a5a96f !important;
    border-color: #a5a96f !important;
    z-index: -1 !important;
    font-size: large !important;
    font-family: '' !important;
}

.semiboldi_menu {
    font-family: 'ACaslonPro-SemiBoldItalic';
    color: white;
    text-align: end;
    font-size: x-large;
}

.rotar_etiqueta {
    font-family: ('ACaslonPro-Regular');
    color: white;
    z-index: 1;
    transform: rotate(-90deg);
    font-size: xx-large;
    letter-spacing: 3px;
}

#columna_1 {
    background-image: url("/kuchati/images/pexels-alena-darmel-7641842.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: none; */
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_1:hover #etiqueta_inicio {
    z-index: -1;
}

#columna_1:hover #btn_conocenos{
    z-index: 1 !important;
}

#columna_1:hover #btn_prestamo{
    z-index: 1 !important;
}

#btn_conocenos {
    width: 60%;
    height: 50%;
}

#btn_prestamo {
    width: 75%;
    height: auto !important;
}

#btn_prestamo p {
    font-size: large !important;
    line-height: 25px !important;
}

#detalle_contenido {
    z-index: -1;
}

#detalle_contenido_1 {
    z-index: -1;
}

#btn_conocenos:hover~#detalle_contenido {
    z-index: 1;
}

#btn_prestamo:hover~#detalle_contenido_1 {
    z-index: 1;
}   

#columna_2 {
    background-image: url("/kuchati/images/kitchen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_2:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_2:hover #etiqueta_nosotros {
    z-index: -1;
}
#columna_2:hover #btn_acercaDe{
    z-index: 1 !important;
}

#btn_acercaDe {
    width: 60%;
    height: 50%;
}

#detalle_contenido_2 {
    z-index: -1;
}

#btn_acercaDe:hover~#detalle_contenido_2 {
    z-index: 1;
}

#columna_3 {
    background-image: url("/kuchati/images/pexels-tyler-tornberg-1587274.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%, 25%;
}

#columna_3:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_3:hover #etiqueta_tramite {
    z-index: -1;
}

#columna_3:hover #btn_procesos{
    z-index: 1 !important;
}

#btn_procesos {
    width: 60%;
    height: 50%;
}

#detalle_contenido_3 {
    z-index: -1;
}

#btn_procesos:hover~#detalle_contenido_3 {
    z-index: 1;
}

#columna_4 {
    background-image: url("/kuchati/images/pexels-fauxels-3184465.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 55%, center;
}

#columna_4:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#columna_4:hover #etiqueta_servicios {
    z-index: -1;
}

#columna_4:hover #btn_servicios{
    z-index: 1 !important;
}

#btn_servicios {
    width: auto;
    height: auto;
}

#detalle_contenido_4 {
    z-index: -1;
}

#btn_servicios:hover~#detalle_contenido_4 {
    z-index: 1;
}



/* parrafos en general */
p {
    text-align: center;
    font-family: 'ACaslonPro-Regular';
    font-size: large;
    color: white;
}

#columna_contacto>P {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Regular';
    font-size: x-large;
    color: white;
}

#columna_solicita>P {
    text-align: left;
    letter-spacing: 3px;
    font-size: large;
    font-family: 'ACaslonPro-Regular';
    
}

#semi_bold_i {
    font-family: 'ACaslonPro-SemiBoldItalic';
}

h3 p {
    font-family: 'ACaslonPro-Bold';
}

.carousel-item {
    height: 220px;
}

.carousel-item h3 {
    text-align: center;
    font-family: 'ACaslonPro-SemiBold';
    font-size: large;
    color: #919082;
}

.carousel-item p {
    text-align: center;
    font-family: 'ACaslonPro-Semibold';
    font-size: medium;
    color: black;
}

#guiones::before {
    content: "──────── ";
    font-size: medium;
    letter-spacing: 0px;
}



/* pagina conocenos/servicios */

.seccion {
    font-family: 'ACaslonPro-SemiBoldItalic';
    font-size: x-large;
    color: #919082;
    align-self: end;
    letter-spacing: 2px;
}

.semiboldi {
    font-size: x-large;
    font-family: 'ACaslonPro-SemiBoldItalic';
    color: black;
}

#kuchati::before {
    content: "KÜCHATI";
    font-size: xx-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
    color: black
}

.bold {
    font-size: x-large;
    font-family: 'ACaslonPro-bold';
    color: black;
}

.regular {
    font-size: x-large;
    font-family: 'ACaslonPro-Regular';
    color: black;
}

#mexicanas::after {
    content: 'MEXICANAS';
    font-size: x-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 300px;
    height: 100px;
    border-color: white !important;
    border: 10px !important;
    background: rgba(0, 0, 0, 0.5);
}

.numero::after {
    content: '25';
    font-size: xx-large;
    letter-spacing: 3px;
    font-family: 'ACaslonPro-Bold';
}

.socio {
    background-color: #a5a96f;
}

.socio:hover{

    background-image: url('icons/conocenos/socios_edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*desplazar la imagen en cierta áerea*/
    background-position: 70%,25%;

}

.linea_1:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #a5a96f;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_2:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #a5a96f;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_3:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #a5a96f;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_4:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #a5a96f;
    border-left-color: gray;
    border-left-style: solid;
}
.linea_5:hover {
    background-color: rgba(128, 128, 128, 0.089);
    color: #a5a96f;
    border-left-color: gray;
    border-left-style: solid;
}

/* .img_socio{
    z-index:-1;
    background-image: url('icons/conocenos/socios.png');
}
 */

/* .eclipse{
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
    transform: rotate(-15deg);
}